<div class="box {{ collapsed is defined and collapsed ? "collapsed-box" : "" }} {{ box_class is defined ? box_class : "box-success" }}" {% block box_attributes %}{% endblock %}>
    <div class="box-header with-border {{ box_header_class is defined ? box_header_class : "" }}" {% block box_header_attributes %}{% endblock %}>
        <h3 class="box-title">
            {% block block_title %}{% endblock %}
        </h3>
        <div class="box-tools pull-right">
            {% block box_header_tools %}{% endblock %}
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa {{ collapsed is defined and collapsed ? "fa-plus" : "fa-minus" }}"></i></button>
        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->
    <div class="box-body {{ box_body_class is defined ? box_body_class : "" }}" {% block box_body_attributes %}{% endblock %}>
        {% block block_content %}{% endblock %}
    </div><!-- /.box-body -->
</div><!-- /.box -->