
{% set _preview      = block('preview') %}
{% set _form         = block('form') %}
{% set _show         = block('show') %}
{% set _list_table   = block('list_table') %}
{% set _list_filters = block('list_filters') %}
{% set _tab_menu     = block('tab_menu') %}
{% set _content      = block('content') %}
{% set _title        = block('title') %}
{% set _breadcrumb   = block('breadcrumb') %}
{% set _actions      = block('actions') %}
{% set _navbar_title = block('navbar_title') %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block meta_title %}ArdTeam | Cinéma{% endblock %}</title>
    {% block metas %}
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    {% endblock %}

    {% block stylesheet %}
        {#<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>#}
        <!-- Font Awesome Icons -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"
              type="text/css"/>
        <!-- Ionicons -->
        <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet"
              type="text/css"/>
        <!-- Morris chart -->
        {#<link href="plugins/morris/morris.css" rel="stylesheet" type="text/css"/>#}
        <!-- jvectormap -->
        {#<link href="plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css"/>#}
        <!-- Daterange picker -->
        {#<link href="plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>#}
    {% endblock %}

</head>
<body class="skin-black fixed">
{% block body %}
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            {% block logo %}
                <a href="/" class="logo"><b>ArdTeam</b>Cinema</a>
            {% endblock %}
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                {{ include("ATCoreBundle:partials:navbar_top.html.twig") }}
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            {% block sidebar %}
                {{ include("ATCoreBundle:partials:sidebar.html.twig") }}
            {% endblock %}
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            {% block content_header %}
                <section class="content-header">
                    <h1>
                        {{ (short_title is defined ? short_title : "_undefined_") | trans({}, "messages") }}
                        <small>{{ sub_title is defined ? sub_title : "" }}</small>
                    </h1>
                    {% block breadcrumb %}
                        {{ include("ATCoreBundle:partials:breadcrumb.html.twig") }}
                    {% endblock %}
                </section>
            {% endblock %}

            <!-- Main content -->
            <section class="content">
                {% block content %}

                    {% block notice %}
                        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
                    {% endblock notice %}

                    {#{% if _content is not empty %}#}
                        {#<div class="sonata-ba-content">{{ _content|raw }}</div>#}
                    {#{% endif %}#}

                    {% if _form is not empty %}
                        <div class="sonata-ba-form">{{ _form|raw }}</div>
                    {% endif %}

                {% endblock %}
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        {% block footer %}
            {{ include("ATCoreBundle:partials:footer.html.twig") }}
        {% endblock %}
    </div><!-- ./wrapper -->
{% endblock %}

{% block javascripts %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery 2.1.3 -->
    <script src="{{ asset("bundles/atcore/plugins/jQuery/jQuery-2.1.3.min.js") }}"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="{{ asset("bundles/atcore/plugins/bootstrap/bootstrap.min.js") }}"></script>
    <!-- FastClick -->
    <script src="{{ asset("bundles/atcore/plugins/fastclick/fastclick.min.js") }}"></script>
    <!-- AdminLTE App -->
    {#<script src="dist/js/app.min.js" type="text/javascript"></script>#}
    {#<script src="{{ asset("bundles/atcore/plugins/admin-lte/app.min.js") }}"></script>#}
    <script src="{{ asset("bundles/atcore/plugins/admin-lte/app.js") }}"></script>
    <!-- Sparkline -->
    {#<script src="plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>#}
    <!-- jvectormap -->
    {#<script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>#}
    {#<script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>#}
    <!-- daterangepicker -->
    <script src="{{ asset("bundles/atcore/plugins/daterangepicker/daterangepicker.js") }}"></script>
    <!-- datepicker -->
    <script src="{{ asset("bundles/atcore/plugins/datepicker/bootstrap-datepicker.js") }}"></script>
    <!-- iCheck -->
    {#<script src="plugins/iCheck/icheck.min.js" type="text/javascript"></script>#}
    <!-- SlimScroll 1.3.0 -->
    {#<script src="plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>#}
    <script src="{{ asset("bundles/atcore/plugins/slimScroll/jquery.slimscroll.min.js") }}"></script>
    <!-- ChartJS 1.0.1 -->
    {#<script src="plugins/chartjs/Chart.min.js" type="text/javascript"></script>#}

    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    {#<script src="dist/js/pages/dashboard2.js" type="text/javascript"></script>#}

    <!-- AdminLTE for demo purposes -->
    {#<script src="dist/js/demo.js" type="text/javascript"></script>#}
{% endblock %}
</body>
</html>